.col {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-template-areas: "sidebar content content content" "sidebar content content content" "sidebar content content content";
}

.sidebar {
    grid-area: sidebar;
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    grid-area: content;
}

.sidebar span {
    position: fixed;
    bottom: 0px;
    left: 100px
}

.sidebar span button {
    float: right;
}

li:hover, li.active {
    background-color: black;
    color: white;
}

.sidebar {
    -webkit-box-shadow: 10px 4px 8px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 4px 8px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 4px 8px -6px rgba(0, 0, 0, 0.75);
}

li.active {
    background-color: black;
    color: white;
}