<div class='body'>

    <div class='sidebar'>
        <ul class="list-group">
            <li class="list-group-item " [ngClass]="{'active':active ==='myBooks'}" (click)="broughtBooks()">MyBooks
            </li>
            <li class="list-group-item " *ngFor='let list of myLists' [ngClass]="{'active':active ===list.id}"
                (click)="toggle(list.id)">
                {{list.name}}
                <i class="fas fa-trash" (click)="deleteList(list)"> </i>
            </li>
        </ul>



        <span>
            <div class="col text-right">
                <div ngbDropdown placement="top-right" class="d-inline-block col-md-4">
                    <button class="fas fa-plus" id="dropdownBasic2" ngbDropdownToggle></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <div class="input-group-append">
                            <input type="text" class="form-control" placeholder="Enter List name" aria-label="Username"
                                aria-describedby="basic-addon1" [(ngModel)]='list'>
                            <button class="fas fa-check-circle btn btn-dark" (click)="createList()"></button>

                        </div>

                    </div>
                </div>
            </div>


        </span>

    </div>

    <div class="content">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor='let book of activeList.items'>
                <div class="card">
                    <img src={{book.cover}} class="card-img-top" alt='' style="width: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">Nulla faucibus orci non nibh tristique porta. Donec ligula nisl, ultricies
                            eget
                            malesuada a, dignissim..</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>