<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor='let book of myBooks'>
        <div class="card">
            <img src={{book.cover}} class="card-img-top" alt=''>
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">Nulla faucibus orci non nibh tristique porta. Donec ligula nisl, ultricies eget
                    malesuada a, dignissim..</p>
            </div>
        </div>
    </div>

</div>