<section class="static about-sec">
    <div class="container">
        <h1>My Account / Signup</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>

        <form #newUser='ngForm' class="form" autocomplete="on">
            <div class="row">
                <div class="col-md-5">
                    <input name="name" ngModel placeholder="Enter User Name" required>

                </div>
                <div class="col-md-5">
                    <input name="email" ngModel type="email" placeholder="Enter Email Address" required>
                </div>
                <div class="col-md-5">
                    <input name="Password" ngModel type="password" placeholder="Enter Password" required>

                </div>
                <div class="col-md-5">
                    <input name="confirmPassword" ngModel type="password" placeholder="Confirm Password" required>
                    <div class="col-lg-8 col-md-12">

                        <app-button buttonName="register" klass="black-btn" (click)="sign(newUser.value)">
                        </app-button>


                        <h5>Have Account? <a [routerLink]="['/user/login']">Login</a></h5>

                    </div>
                </div>
            </div>
        </form>
    </div>

</section>