<div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>


    </button>
</div>




<div class="modal-body">
    <ul>

        <li *ngFor='let item of myCart.items |keyvalue' (click)='removeBookFromCart(item.key)' data-toggle="tooltip"
            data-placement="top" title="REMOVE FROM CART" [ngClass]="{'scale-out-top':anime===item.key}">
            <img src={{item.value.cover}}>
            <h4>{{item.value.title}} </h4>
            <h6>price:{{item.value.price}}</h6>
            <i class="fas fa-window-close"></i>
        </li>


    </ul>



</div>
<div class="modal-footer">
    <button (click)='buy()' class="rounded-pill btn btn-outline-dark">Buy <i class="fas fa-shopping-cart"></i></button>
    Total: <span class="badge badge-dark "> {{myCart.price}}$</span>

</div>