<div class="modal-header">

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>


    </button>
</div>




<div class="modal-body">
    <ul>

        <li *ngFor='let cartItem of myCart.items |keyvalue' data-toggle="tooltip" data-placement="top"
            title="REMOVE FROM CART" [ngClass]="{'scale-out-top':anime===cartItem.key}">
            <img src={{cartItem.value.item.cover}}>
            <h4>{{cartItem.value.item.title}} </h4>
            <h6> <span>size:{{cartItem.value.inCart}}</span>
                <div class="buttons">
                    <button class="previous round" (click)='increase(cartItem.value)'>&#8249;</button>
                    <button class="next round" (click)='decrease(cartItem.value)'>&#8250;</button>
                </div>
            </h6>
            <i class="fas fa-window-close" (click)='removeBookFromCart(cartItem.key)'></i>
        </li>


    </ul>



</div>
<div class="modal-footer">
    <button (click)='buy()' class="rounded-pill btn btn-outline-dark">Buy <i class="fas fa-shopping-cart"></i></button>
    Total: <span class="badge badge-dark "> {{myCart.price}}$</span>

</div>