<p>about-section works!</p>
<section class="about-section">
    <div class='about-img'>
        <figure stryle="background:url(link)no-repeat"></figure>
    </div>
    <div class="about-content">
        <h2>About bookstore,</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's printer took a galley of type and Scrambled it to make a type and
            typesetting industry.
            Lorem Ipsum has been the book.
        </p>
        <p>
            It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's printer took a galley of type and
    </div>
</section>