/* You can add global styles to this file, and also import other style files */
.owl-dot.active  span
{
    background-color: #ff9700 !important;
}
.owl-dot  span
{
background: #fff !important;

}
.slider .owl-dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center; }
