<!--first carousel-->
<section class="slider">
    <div class="container">


        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [width]="1100" *ngFor="let slide of slides"><img src={{slide.image}}>
                <div class="content">
                    <div class="title">

                        <h3>welcome to bookstore</h3>

                        <h5>Discover the best books online with us</h5>

                        <app-button buttonName="shop books" klass="yellow-btn"></app-button>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</section>

<app-recommended-books></app-recommended-books>
<!--about section here-->

<app-about-section></app-about-section>

<app-recommended-books></app-recommended-books>
<app-features-sec></app-features-sec><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-offers-section></app-offers-section>

<section class="testimonial-sec">
    <div class="container">


        <div class="left-quote">
            <img src="../../assets/about-section/left-quote.png" alt="quote">
        </div>


        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide *ngFor="let object of dummyText">

                <div class="item">
                    <h3>{{object.text}}</h3>


                    <div class="box-user">
                        <h4 class="author">{{object.subject}}</h4>
                        <span class="country">{{object.place}}</span>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>


        <div class="right-quote">
            <img src="../../assets/about-section/right-quote.png" alt="quote">
        </div>

    </div>
</section>